<!DOCTYPE html>
<html>
  <head>
    <title>BeMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style media="screen">
      *{
		    box-sizing: border-box;
		    margin: auto;
      }
      body {
      	font-family: 'Montserrat', sans-serif;
      	line-height: 1.6;
      	margin: 0;
      	min-height: 100vh;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      h2, h3, a {
      	color: #34495e;
      }
      a {
      	text-decoration: none;
      }
      .logo {
      	margin: 0;
      	font-size: 1.45em;
      }
      .main-nav {
      	margin-top: 5px;
      }
      .logo a,
      .main-nav a {
      	padding: 10px 15px;
      	text-transform: uppercase;
      	text-align: center;
      	display: block;
      }
      .main-nav a {
      	color: #34495e;
      	font-size: .99em;
      }
      .main-nav a:hover {
      	color: #718daa;
      }
      .header {
      	padding-top: .5em;
      	padding-bottom: .5em;
      	border: 1px solid #a2a2a2;
      	background-color: #f4f4f4;
      	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      	-webkit-border-radius: 5px;
      	-moz-border-radius: 5px;
      	border-radius: 5px;
      }
      /* =================================
        Media Queries
      ==================================== */
      @media (min-width: 769px) {
      	.header,
      	.main-nav {
      		display: flex;
      	}
      	.header {
      		flex-direction: column;
      		align-items: center;
          .header{
      		  width: 80%;
      		  margin: 0 auto;
      		  max-width: 1150px;
      	  }
      	}
      }

      @media (min-width: 1025px) {
      	.header {
      		flex-direction: row;
      		justify-content: space-between;
      	}

      }


      /* body {
        background-color: beige;
        color: #333;
        margin:auto;
        padding: 0;
        margin-top: -29px;
      }
      .nav-bar-beme{
        background-color: #008000;
        width: auto;
        height: 44px;
      }
      .beme-title {
        width: 213px;
        height: 40px;
        margin-left: 20%;
      }
      .beme-title h3{
        padding: 8px;
        font-size: 29px;
      }
      .user-icon{
        width: 34px;
        height: 34px;
        margin-left: 75%;
        background-color: black;
      } */
    </style>
  </head>

  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top" style="background-color: gray;">
      <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
          <i class="fa fa-bars"></i>
        </a>
        <a href="#home" class="w3-bar-item w3-button">HOME</a>
        <a href="#about" class="w3-bar-item w3-button w3-hide-small"> ABOUT</a>
        <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"> PROFILE</a>
        <a href="#contact" class="w3-bar-item w3-button w3-hide-small"> CONTACT</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
          <i class="fa fa-search"></i>
        </a>
      </div>

      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
        <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
        <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PROFILE</a>
        <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
        <a href="#" class="w3-bar-item w3-button">SEARCH</a>
      </div>
    </div>

    <!-- <header class="header">
  <h1 class="logo"><a href="#">BelieveMe</a></h1>
    <ul class="main-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header> -->
    <!-- <nav class="nav-bar-beme">
      <div class="beme-title">
        <h3>BelieveMe</h3>
      </div>

      <div class="user-icon">

      </div>

    </nav> -->
    <%= yield %>
  </body>
</html>
